
.menu__phone {
    display:none;
}
.menu1 {
    font-size: 4vw;
    text-shadow:rgb(236, 9, 9) 0.1em 0.1em 0.2em;
    color:black;
}
.Navigation2 {
    display:none;
}

.menu__phone-color {
    color:black;
}
