.tipografia {
    margin:3% 3% 3% 3%;
    color: #c5c190;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    list-style: none;
}

.somos_comsegur {
    text-align: center;
}

.somos_comsegur_img {
    border: 5px solid #5e1322;
    border-radius: 50px;
}