/* variables de tamaño */
$fuente-size:2.5em;

//      colors

$primary-color:#bd1e3e;
$second-color:#111010;
$tertiary-color:#f5f3f3;
$background-color:#686464;
$beige-color:#f5f5dc;
$amarilloGrisáceoClaro:#c5c190;
$ubicacion-color:#bebebe;
$footer-color:#999;
$color-texto:#0c0c0c;
$color-fondo-texto:#ffffff3f;
$color-formulario:#000000;
$sombra:#ec0909 0.1em 0.1em 0.2em;


//        import font css 


@import url('https://fonts.googleapis.com/css2?family=Anton&family=Fredoka:wght@500&family=Open+Sans&family=Rubik+Glitch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Fredoka:wght@500&family=Open+Sans&family=Rubik+Glitch&display=swap');
