*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    /*font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
*/}

body { 
    background-color: rgb(104, 100, 100);
    background-image: url(../img/foto\ camara.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 95%;
    margin:auto;
}

a {
    text-decoration: none;
}


.texto {
    color:rgb(197, 193, 144);
    margin-left: 5px;
}


.title-index {
    display:grid;
    text-align: center;
    font-size: 8vw;
    color:rgb(17, 16, 16);
    text-shadow:rgb(236, 9, 9) 0.1em 0.1em 0.2em;
    margin-bottom: 50px;
}

#menu {
    /* background-color: rgb(61, 59, 59); */
    list-style: none;     
    margin: 0px;
    padding: 0px;
}

#menu ul {
    display: grid;
    padding: 0px;
    grid-template-columns: 25% 25% 25% 25% ;
}         

#menu ul li {
    list-style:none; 
    margin-bottom:4vw;   
    box-shadow: 5px 0px 10px #bd1e3e;   
}


#menu ul li a{
    font-size: 20px;
    color:#f5f3f3;
    text-decoration: none;
    display:flex;
    flex-direction: row;
    justify-content: center;
    padding: 8px;
    background-color:transparent;
    border-radius:105px;
    transition: background-color .5s;
}

#menu ul li a:hover{
    background-color: rgb(236, 9, 9);
    border-radius:105px ;
    
}

/*.derecha {
    margin-left:auto ;
}*/

.titulo2 {
    font-size: 7vw;
    margin-left:15vw;
    text-shadow:rgb(236, 9, 9) 0.1em 0.1em 0.2em;
}

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Fredoka:wght@500&family=Open+Sans&family=Rubik+Glitch&display=swap');

.titulo3 {
    font-family: 'Anton', sans-serif;
    font-family: 'Fredoka', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Rubik Glitch', cursive;
    font-size: 5vw;
    margin-top: 50px;
    margin-left:50px;
}

.titulo3:hover {
    text-shadow:rgb(236, 9, 9) 0.1em 0.1em 0.2em;
    transition: all 0.8s;
    transform: rotate3d(1,1,1, 10deg)
    
}

.destacados__1 {
    color:beige;
    text-align:center;
    margin-bottom:20px;
}

.grid-container {
    padding-top: 150px;
    display: grid;
    grid-template-columns:repeat(3,1fr);
    grid-template-rows:repeat(3,150 px); ;
}

.img_producto {
    width: 200px; 
    height: 200px;
    margin-left:100px;
    margin-bottom:15px;
    border-radius: 50%;
    border-top:4px solid;
    border-bottom:4px solid;
    border-color:black;
}

.img_servicio {
    width: 200px; 
    height: 200px;
    margin-left:130px;
    margin-bottom:15px;
    border-radius: 50%;
    border-top:4px solid;
    border-bottom:4px solid;
    border-color:black;
}

.img_catalogo {
    width: 200px; 
    height: 200px;
    margin-left:130px;
    margin-bottom:15px;
    border-radius: 50%;
    border-top:4px solid;
    border-bottom:4px solid;
    border-color:black;
}

a {
    color:white;
}

.pie {
    text-align: center;
    color: #999;
    margin-top: 100px;
    bottom: 0;
    
}

@media screen and (max-width: 768px) {
    

}

/*.cabeza_formulario {
    margin-left:12em;
}*/

.letra_blanca{
    font-size: 2rem;
    display:block;
    text-align: center;

}

.letra_blanca1{

    font-size: 2rem;
    display:block;
    text-align:center;
}

.letra_blanca2{

    font-size: 2rem;   
    display:block;
    text-align:center;
}

.formulario-contacto {
    margin-top: 23em;
    color:#000000;
    width:300px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 7px 13px 37px;color:#bd1e3e ;
    border: 10px;
}

.contact{
padding: .8rem;
overflow: hidden;
color: rgb(7, 7, 7);
}

.contact label , .contact input , contact textarea{
display:block;
width: 100%;
margin-bottom: 8px;
}

.contact label {
font-weight: 700;
}

.contact input, .contact textarea {
border:none;
border-bottom: 2px solid; color:black ;
margin-bottom: 10px;
font-size: 20px;
outline: none;
}

.contact textarea {
    min-height: 100px;       
}

.submit, .btn {
    border-radius: 20px;
}

.btn {
    padding: 10px;
}

textarea {
    width: 270px;
}
.submit  {
    padding: 10px;
    border: none;
    background-color:#e01231;
}

.nav__responsive-ul {
    display:none;
}

@media only screen and (max-width: 500px){
    #menu ul {
        display: block;
    }
    
}

@media only screen and (max-width: 900px){
    .grid-container {
        display: block;
    }
}

.tipografia {
    margin:3% 3% 3% 3%;
    color: rgb(197, 193, 144);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    list-style: none;
}


.somos_comsegur {
    text-align: center;
}

.somos_comsegur_img {
    border: 5px solid #5e1322;
    border-radius: 50px;
}
.title_servicios {
    text-align: center;
    color:#bd1e3e;
    margin-bottom: 50px;
}




.selector-for-some-widget {
    box-sizing: content-box;
}

.title__servicios {
    margin-top: 50px;
    margin-bottom:50px;
    font-size: 2rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.letras {
    color:black;
    font-size:1rem;
}

.transition {
    height:200px;
    width: 200px;
    transition: height 2s, width 2s,transform 2s;
    /*background-color: #5e1322;*/
    position:relative;
    left:40vw;
}

.transition:hover {
    height:300px;
    width: 250px;
    transform:rotate(360deg);

}

/* PAGINA ARTICULO */

.catalogo-h2 {
    text-align:center;
    font-size: 3rem;
    color:rgb(197, 193, 144);
    margin-bottom: 50px;
    margin-top: 50px;
    font-style: oblique;
}

.cctv {
    font-size: 2rem;
    letter-spacing:3px;
    text-indent:3rem;
    color:rgb(190, 190, 190);
    text-decoration: underline;
    text-decoration-color: rgb(197, 193, 144);   
    margin-top: 40px;
    text-align: center;
}

.imagen-catalogo{
    border-radius: 50px;
    margin-top: 20px;
    width: 16vw;
}

.descripcion-catalogo {
    font-size: 2vw;
    color:rgb(190, 190, 190);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 2vw;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 768px) {
    .container{ 
        grid-template-columns: repeat(2, 1fr);
    }
    .t1 {
        display: inline-block;
    }
    .t2, .t3 {
        margin-right: 30px;
    }
}



.map {
    float: left;
}

.t1 {
    margin-bottom: 100px;
    margin-left:15px;
    color:rgb(190, 190, 190);
    font-size: 2.5em;
}

.t2 {
    margin-top:40px;
    margin-bottom: 20px;
    color:rgb(190, 190, 190);
    font-size: 2.5em;
    text-align: right;
}

.t3 {
    margin-top:40px;
    margin-bottom: 100px;
    color:rgb(190, 190, 190);
    font-size: 2.5em;
    text-align: right;
}